# Windower addons - may want to specifically track settings files
aecho/
autocontrol/
autoinvite/
autojoin/
azureSets/
battlemod/
bluguide/
boxdestroyer/
cancel/
Dimmer/
DistancePlus/
DressUp/
enternity/
equipviewer/
findAll/
Gearswap/
Gearswap/data/export/*.*
itemizer/
latentchecker/
libs/
MyHome/
Nostrum/
ohShi/
Omen/
PetTP/
pointwatch/
PorterPacker/
Pouches/
rolltracker/
scoreboard/
send/
shortcuts/
Silence/
SpeedChecker/
SpellCheck/
SubTarget/
targetinfo/
temps/
TParty/
Treasury/
Trusts/
vwhl/

# Other Addons
Debuffed/
sheolhelper/
targeter/
whereisdi/
widescantool/