# Windower addons - may want to specifically track settings files
autojoin/
battlemod/
boxdestroyer/
cancel/
Dimmer/
DistancePlus/
DressUp/
enternity/
equipviewer/
findAll/
libs/
MyHome/
pointwatch/
Pouches/
scoreboard/
send/
shortcuts/
Silence/
SubTarget/
temps/
TParty/
Treasury/
Trusts/

# Other Addons
Debuffed/
Gearswap/data/export/*.*
sheolhelper/
SpeedChecker/
SpellCheck/
targeter/
whereisdi/
widescantool/